body, html {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.content {
    width: 100%;
    min-height: 100%;
    font-family: 'Tajawal', sans-serif;
}
.about, .projects, .contact {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    background-image: url('images/ashley.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 90%;
}

.top-navbar {
    display: none;
    height: 55px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.top-navbar-left {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.top-navbar-left li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.top-navbar-left li img {
    height: 90%;
}

.top-navbar-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
}

.top-navbar-right li {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.top-navbar-right li a {
    color: black;
    text-decoration: none;
}

.resume-menu {
    display: none;
    background-color: rgb(231, 231, 231);
    width: 10%;
    height: 65px;
    z-index: 1;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 160px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.resume-menu.active {
    display: flex;
}

.resume-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.521);
}

.resume-menu ul li {
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.resume-menu a {
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.mobile-menu {
    flex-direction: column;
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    left: -1000px;
    top: 50px;
    transition: 1s;
}

.mobile-menu.active {
    left: 0;
    top: 50px;
    position: fixed;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.mobile-menu-list li {
    width: 100%;
    height: 20%;
    padding: 10px;
    border-bottom: .5px solid gray;
    display: flex;
}

.mobile-menu-list a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navbar-mobile {
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;;
}

.top-navbar-mobile-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.top-navbar-mobile-list li {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navbar-mobile-list li img {
    max-width: 100%;
    max-height: 90%;
}

.top-summary {
    padding-top: 15%;
    width: 100%;
    height:93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: center;
    justify-content: center;
}

.top-name h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

.top-name h3 {
    font-size: 1.8em;
    margin: 20px;
    width: 90%;
    text-align: center;
}

.top-buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.top-buttons a {
    width: 50%;
    height: 40px;
    margin: 20px;
}

.about-button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 231);
    color: rgb(80, 19, 80);
    border: 2px solid rgb(80, 19, 80);
    font-size: 1.3em;
}

.contact-button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 19, 80);
    color: rgb(231, 231, 231);
    border: 2px solid rgb(80, 19, 80);
    font-size: 1.3em;
}

.title {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h3 {
    margin: 0;
    padding-top: 15%;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.title .top-line {
    width: 60%;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
}

.title .bottom-line {
    width: 40%;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
}

.about {
    height: 150vh;
    background-color: white;
}

.about-summary {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.about-summary p {
    width: 90%;
    text-align: center;
    background-color: none;
}

.about-summary a {
    width: 40%;
    height: 40px;
}

.skills-button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color:rgb(80, 19, 80);
    color: rgb(231, 231, 231);
    border: 2px solid rgb(80, 19, 80);
    font-size: 1.1em;
}

.skills {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.skills-div {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    background-color: rgb(231, 231, 231);
}

.skills-list {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.skills-list li {
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-list li p {
    margin-bottom: 0;
    font-size: 1.3em;
    text-align: center;
}

.skills-list li img {
    width: 90%;
}

.skills-title {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    height: 360vh;
    background-color: white;
}

.projects .title {
    height: 6%;
}

.projects-list {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-project {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.featured-project-information {
    width: 90%;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured-project-information a {
    width: 90%;
    height: 50px;
}

.featured-project-information a img {
    max-height: 100%;
}

.featured-project-information p {
    font-size: 1.5em;
}

.technologies {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.technologies li {
    width: 30%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.technologies li button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}

.featured-project-extra {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.featured-project-extra video {
    max-width: 100%;
    margin-top: 20px;
}

.featured-project-extra div {
    max-width: 100%;
}

.projects-next-button {
    width: 100%;
    height: 40px;
    margin-top: 125px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-next-button a {
    width: 40%;
    height: 100%;
    display: flex;
}

.projects-next-button a button {
    width: 100%;
    height: 100%;
}

.contact {
    margin-top: 50px;
    height: 95vh;
}

.contact-form {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35%;
}

.form-section-input {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text], select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 10px;
    resize: vertical;
    font-size: 1.3em;
    vertical-align: middle;
}

textarea {
    -webkit-appearance: none;
    width: 95%;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    resize: vertical;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
}


input[type=submit] {
    background-color: rgb(231, 231, 231);
    color: rgb(80, 19, 80);
    border: 2px solid rgb(80, 19, 80);
    border-radius: 4px;
    width: 50%;
    margin: 20px 10px 0 10px;
    font-size: 1.3em;
    vertical-align: middle;
    height: 40px;
}

input[type=submit]:hover {
    background-color: rgb(80, 19, 80);
    color: rgb(231, 231, 231)
}

.social-media {
    width: 100%;
    height: 7vh;
    background-color:white;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.social-media-list {
    -webkit-appearance: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social-media-list li {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-list li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-list a img {
    max-width: 90%;
    max-height: 90%;
}

@media all and (max-width: 900px) and (min-width: 667px) {
    .mobile-menu {
        left: -800px;
        top: 70px;
    }

    .mobile-menu.active {
        top: 70px;
    }

    .top-navbar-mobile {
        height: 70px;
    }

    .top-name h1 {
        font-size: 5em;
    }

    .top-name h3 {
        font-size: 3em;
    }

    .top {
        background-size: 80%;
    }

    .top-buttons a {
        height: 60px;
    }

    .top-buttons {
        position: relative;
        bottom: 75px;
        font-size: 1.5em;
    }

    .mobile-menu {
        height: 500px;
        font-size: 1.5em;
    }

    .title h3 {
        font-size: 3em;
    }

    .about-summary p {
        font-size: 1.7em;
    }

    .about-summary a {
        height: 60px;
        margin-top: 25px;
        font-size: 1.5em;
    }

    .featured-project-information {
        font-size: 1.7em;
    }

    .featured-project-information a {
        height: 70px;
    }

    .technologies li {
        height: 40px;
    }

    .technologies li button {
        font-size: 1.1em;
    }

    .projects-next-button {
        height: 60px;
        font-size: 1.5em;
    }

    input[type=submit] {
        height: 60px;
        font-size: 2.4em;
        font-family: 'Tajawal', sans-serif;
        text-align: center;
        padding: 10px;
    }

    textarea {
        height: 400px;
        font-size: 1.6em;
    }
}

@media all and (max-width: 3000px) and (min-width: 1000px) {
    .mobile-menu {
        display: none;
    }

    .top-navbar-mobile {
        display: none;
    }

    .top {
        background-size: 40%;
    }

    .top-navbar {
        display: flex;
    }

    .top-summary {
        padding-top: 70px;
    }

    .top-name {
        width: 100%;
        padding-left: 240px;
    }

    .top-name h1 {
        font-size: 5em;
        width: 100%;
        text-align: left;
    }

    .top-name h3 {
        font-size: 3em;
        width: 100%;
        text-align: left;
    }

    .top-buttons {
        width: 100%;
        padding-left: 240px;
        margin-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
    }

    .top-buttons a {
        margin-left: 0;
        width: 30%;
        height: 60px;
    }

    .title h3 {
        padding-top: 75px;
    }

    .about {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .about .title {
        width: 50%;
    }

    .about-summary {
        height: 80vh;
        margin-top: 20px;
    }

    .about-summary p {
        font-size: 1.25em;
    }

    .about-summary a {
        margin-left: 0;
        width: 30%;
        height: 60px;
    }

    .skills {
        height: 90vh;
    }

    .skills-div {
        margin-top: 70px;
        padding: 0;
        flex-direction: row;
    }

    .skills-title {
        height: 100%;
        width: 20%;
        background-color: rgb(80, 19, 80);
        color: rgb(231, 231, 231);
    }

    .skills-title .title .top-line {
        border-color: rgb(231, 231, 231);
    }
    .skills-title .title .bottom-line {
        border-color: rgb(231, 231, 231);
    }

    .skills-list {
        width: 80%;
        height: 100%;
    }

    .skills-list li img {
        height: 90%;
        width: auto;
    }

    .projects {
        justify-content: center;
        align-items: center;
    }
    .projects .title {
        width: 50%;
    }

    .featured-project-information a {
        height: 80px;
    }

    .technologies {
        height: 40px;
    }

    .technologies li {
        height: 40px;
    }

    .technologies li button {
        background-color:  rgb(80, 19, 80);
        color: white;
        font-size: 1.4em; 
    }

    .featured-project-extra {
        flex-direction: row;
        width: 90%;
        height: 500px;
    }

    .featured-project-extra li {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .featured-project-extra li video {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
    }

    .featured-project-extra li div {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        padding: 0;
        margin: 0;
    }

    .projects-next-button a {
        height: 60px;
        width:30%;
    }

    .projects-next-button a button {
        background-color: white;
        color: rgb(80, 19, 80);
        border: 2px rgb(80, 19, 80) solid;
    }

    .contact {
        justify-content: center;
        align-items: center;
    }

    .contact .title {
        width: 50%;
    }
    .contact .title h3 {
        padding-top: 90px;
    }

    textarea {
        height: 250px;
    }

    input[type=submit] {
        width: 30%;
    }

    .social-media-list li {
        width: 5%;
    }

    .social-media-list li img {
        height: 80%;
}

